nuget.exe
nuget*.exe
nuget.config
*.exe
*.nuspec
*.png
*.ico
*.png
*.nupkg
*.config
*.bat
*.old
*.css
*.js
/obj
/docs
*/public/*.css
*/public/*.js
*/styles/*.css
/styles/
/public/
/NuGet/
/lib
/obj/
/bin/Release
/lib/
/Releases/

