nuget.exe
nuget.config
*.exe
*.nuspec
*.png
*.ico
*.png
*.nupkg
*.config
*.bat
*.old
*.css
*.js
/bin/Release
/lib/
/Releases/
/obj
/docs
*/public/*.css
*/public/*.js
*/styles/*.css
/styles/
/public/
/NuGet/