nuget.exe
nuget.config
*.exe
*.nuspec
*.png
*.ico
*.png
*.nupkg
*.config
*.bat
*.old
*.json
*.yml
*.css
*.js
/bin/Release
/bin/Debug
/lib/
/Releases/
/obj
/docs
*/public/*.css
*/public/*.js
*/styles/*.css
/styles/
/public/
/NuGet/